/* styles/views/mods-filter.css */

.filter-btn-wrapper {
  position: relative; /* Para anclar el dropdown */
  flex-shrink: 0;
}

#filter-mods-btn {
  flex-shrink: 0; 
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border: 1px solid var(--color-grey-light); /* Borde sutil */
  border-radius: 5px; 
  color: var(--color-white); /* Color blanco normal */
  transition: all 0.2s ease;
  cursor: pointer;
}

#filter-mods-btn:hover,
#filter-mods-btn.active { /* 'active' se añadirá con JS */
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-accent-text);
}

#filter-dropdown {
  position: absolute;
  top: 110%; /* Justo debajo del botón */
  right: -80; /* Alineado a la derecha */
  width: 200px;
  background-color: var(--color-grey-dark);
  border: 1px solid var(--color-grey-mid);
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  overflow: hidden;
  z-index: 21; /* Por encima de .content-header */
}

.filter-dropdown-item {
  display: flex;
  align-items: center;
  gap: 0.8em;
  padding: 0.8em 1em;
  color: var(--color-white);
  cursor: pointer;
  border-bottom: 1px solid var(--color-grey-mid);
  font-weight: 500;
  text-align: left; 
  white-space: nowrap; 
}

.filter-dropdown-item:last-child {
  border-bottom: none;
}

.filter-dropdown-item:hover {
  background-color: var(--color-grey-mid);
}

.filter-dropdown-item.active {
  background-color: var(--color-accent);
  color: var(--color-accent-text);
}

.filter-dropdown-item img {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  object-fit: cover;
}