/* styles/03_views.css */
/* Importa estilos modulares para las vistas desde la subcarpeta /views/ */

@import url('views/news.css');
@import url('views/mods-header.css');
@import url('views/mods-grid.css');
@import url('views/mods-placeholder.css');
@import url('views/mods-filter.css');